#dropdown-btn {
  width: 100%;
  color: #35393D;
  font-size: 12pt;
  font-style: bold;
  background-color: #DDD9E3;
}

.section {
  background-color: #F4E8E8;
}

.hideDiv {
  display: none;
}

.collapsible-header {
  background-color: #DDD9E3;
}

#slide-out {
  background-image: url("images/transparentyellow.jpg");
  background-size: cover;
  background-position: center;
  /* background-repeat: repeat; */
}

.hamburger{
  background-color: #F4E8E8;
}

.brand-logo{
  font-size: 2em;
  text-align: center;
  margin-left: 1em;
}
