#dropdown-btn {
  width: 100%;
  color: #35393D;
  font-size: 12pt;
  font-style: bold;
  background-color: #DDD9E3;
}

.section {
  background-color: #F4E8E8;
}

.hideDiv {
 display: none;
}

.collapsible-header{
  background-color: #DDD9E3;
}
.collapsible {
  /* color: blue; */
  /* background-color: pink; */
  /* background-color: #E0D9D3; */
}

/* arrow_drop_down */
